airootfs/home/julius/*
!airootfs/home/julius/README.txt
!airootfs/home/julius/.config
airootfs/home/julius/.config/*
!airootfs/home/julius/.config/chezmoi
airootfs/home/julius/.config/chezmoi/chezmoistate.boltdb

out/
work/
